@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

header {
  background: url(images/Hero-bg.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
nav {
  width: 1140px;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  font-family: "inter", sans-serif;
  font-weight: 900;
  font-size: 34px;
  color: #4e47ff;
  line-height: 150%;
}

.navi-btn {
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 16px;
  background-color: #4e47ff;
  color: white;
  border-radius: 10px;
  padding: 12px 36px;
  border: none;
}

/* first-box styles */
.first-box {
  width: 905px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 37px;
  margin: 158px 0 200px;
}
.first-box h1 {
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 65px;
  color: #4e47ff;
  text-align: center;
}

.first-box button {
  padding: 12px 36px;
  border-radius: 10px;
  background-color: #4e47ff;
  color: white;
  border-style: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

/* main tags */

main {
  display: flex;
  flex-direction: column;
  padding: 110px 150px 15px;
}
.action-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 116px;
}

.action-text-column {
  width: 517px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 23px;
}

.action-text-column h2 {
  font-family: "raleway", sans-serif;
  font-weight: bold;
  font-size: 42px;
  color: #252432;
}
.action-text-column p {
  font-family: "raleway", sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: #4e47ff;
}
.action-text-column button {
  font-family: "raleway", sans-serif;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
  line-height: 150%;
  text-align: center;
  color: white;
  background-color: #4e47ff;
  border: none;
}
.action-section img {
  height: 328px;
  width: 403px;
  border-radius: 48px;
}
