@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

header {
  background: url(images/Hero-bg.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
nav {
  width: 1140px;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  font-family: "inter", sans-serif;
  font-weight: 900;
  font-size: 34px;
  color: #4e47ff;
  line-height: 150%;
}

.navi-btn {
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 16px;
  background-color: #4e47ff;
  color: white;
  border-radius: 10px;
  padding: 12px 36px;
  border: none;
  cursor: pointer;
}

/* first-box styles */
.first-box {
  width: 905px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 37px;
  margin: 158px 0 200px;
}
.first-box h1 {
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 65px;
  color: #4e47ff;
  text-align: center;
}

.first-box button {
  padding: 12px 36px;
  border-radius: 10px;
  background-color: #4e47ff;
  color: white;
  border-style: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

/* main tags */

main {
  display: flex;
  flex-direction: column;
  padding: 110px 150px 15px;
}
.action-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 116px;
}

.action-text-column {
  width: 517px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 23px;
}

.action-text-column h2 {
  font-family: "raleway", sans-serif;
  font-weight: bold;
  font-size: 42px;
  color: #252432;
}
.action-text-column p {
  font-family: "raleway", sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: #4e47ff;
}
.action-text-column button {
  font-family: "raleway", sans-serif;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
  line-height: 150%;
  padding: 12px 36px;
  text-align: center;
  color: white;
  background-color: #4e47ff;
  border: none;
}
.action-section img {
  height: 328px;
  width: 403px;
  border-radius: 48px;
}

/* stat section */

.stat-section {
  background-color: rgba(78, 71, 255, 0.1);
  padding: 50px 180px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 137px;
}
.stat-title {
  text-align: center;
  font-family: "raleway", sans-serif;
  font-size: 38px;
  color: #252432;
  font-weight: bold;
}
.stat-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stat-item h3 {
  font-family: "inter", sans-serif;
  font-size: 80px;
  color: #4e47ff;
}
.stat-item p {
  font-family: "inter", sans-serif;
  font-size: 20px;
  text-align: center;
  color: #2524326c;
}

/* review */

.review-section {
  margin-bottom: 137px;
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: center;
}
.review-section-title {
  font-family: "raleway", sans-serif;
  font-weight: bold;
  font-size: 42px;
  text-align: center;
  color: #4e47ff;
}
.review-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.review-card {
  background-color: rgba(226, 223, 223, 0.37);
  padding: 24px;
  display: flex;
  gap: 24px;
  flex-direction: column;
  border-radius: 14px;
  width: 366px;
  border: 1px solid rgba(242, 237, 237, 1);
}
.star-container {
  display: flex;
  gap: 14px;
}
.star-container img {
  width: 20px;
}
.review {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.review-title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -2%;
  color: rgba(30, 30, 30, 1);
}
.review-description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: rgba(30, 30, 30, 1);
}
.reviewers-handle {
  display: flex;
  gap: 12px;
  justify-content: flex-start;
}
.reviewers-handle img {
  width: 40px;
  border-radius: 9999px;
}

.reviewer-name {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: rgba(117, 117, 117, 1);
}
.reviewing-time {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: rgba(179, 179, 179, 1);
}

.focus-section {
  margin-bottom: 92px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 20px;
  padding: 71px 150px;
  border-radius: 14px;
  background: white;
}
.focus-section h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  color: rgba(0, 0, 0, 1);
}
.focus-section p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: rgba(0, 0, 0, 0.5);
}
.focus-section button {
  padding: 12px 36px;
  border-radius: 10px;
  border: none;
  background-color: rgba(78, 71, 255, 1);
  color: #ffffff;
}
.focus-section img {
  border-radius: 48px;
  width: 840px;
}

button:hover {
  background-color: #2201fd;
}
